@using FinancialSystem.Models
@model IList<FinancialSystem.Models.PRLinesModel>

@Styles.Render("~/Content/PR/PRCreation")


	<div class="row">
		@*<div class="col s2">
			<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(-105%);">
				<div class="brand-logo"><img src="images/bsi_logo.png" alt="" class="logo"></div>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">
							<a href="#">
								<i class="material-icons">dashboard</i> Dash
								Board
							</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<a href="pr-shop.html">
								<i class="material-icons">assignment</i>
								Purchase Request
							</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<a href="#">
								<i class="material-icons">format_quote</i> Quote
								Analysis
							</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<a href="#">
								<i class="material-icons">shopping_cart</i>
								Purchase Order
							</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<a href="#">
								<i class="material-icons">list</i>
								Items
							</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<a href="#">
								<i class="material-icons">settings</i>
								Setting
							</a>
						</div>
						<div class="collapsible-body submenu">
							<i class="material-icons icons">fiber_manual_record</i>
							<a href="usermaintenance.html">User Maintenance</a>
						</div>
						<div class="collapsible-body submenu">
							<i class="material-icons icons">fiber_manual_record</i><a href="jobmaintenance.html">Job Maintenance</a>
						</div>
					</li>
				</ul>
			</ul>
		</div>*@
		<!--  -->
		<div class="col s10 content">

			<div class="container">
				<div class="pr-form" id="pr1">
					<div class="row">
						
						<div class="col s6"><img src='@ViewData["SmallLogo"]' alt="" class="src"></div>
						<div class="col s6" id="pr-title">PURCHASE REQUEST</div>
						@{ 
							var emp = (EmployeeModel)ViewData["Company"];
						}
							<div class="col s6" id="address">
							@emp.Company.Adress
							<br />
							<b>TIN: @emp.Company.Tin</b>
						</div>
							
						<div class="col s6" id="pr-number">
							@*Requisition Number: <b><span id="pr-num">0001</span></b><br>*@
							Date Prepared: <span>@DateTime.Now</span><br>
							Date Needed:<br>
							@*Date Approve:*@
						</div>
						<div id="info0">
							<div class="col s6" id="info"><b>Company:</b> @emp.Company.CompanyName</div>
							<div class="col s6" id="info">
								<b>Requestor Name:</b> @emp.Name()
								<a class="badge red modal-trigger" id="badge" href="#modal1"><span>edit</span></a>
							</div>
							<!-- Modal Structure -->
							<div id="modal1" class="modal">
								<div class="modal-content">
									<h4>Search Requestor</h4>
									<form autocomplete="off" action="">
										<div class="autocomplete">
											<input id="myInput" type="text" name="requestor"
												   placeholder="Search Requestor">
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
								</div>
								<!-- End Modal -->
							</div>
							<div class="col s6" id="info"><b>Business Unit:</b> Auto Fill</div>
							<div class="col s6" id="info"><b>Cost Revenue Center (CRC):</b> CRC</div>
							<div class="col s6" id="info"><b>Company Address:</b></div>
							<div class="col s6" id="info"><b>Category Account Code:</b> Account Code</div>
							<div class="col s6" id="info">
								Unit 1103, 11F Pearl of the Orient Tower,
								1240 Roxas Blvd. Brgy. 667 Zone 072,
								Ermita Manila 1000 <a class="badge red modal-trigger" id="badge"
							  href="#modal2"><span>edit</span></a>
							</div>
							<!-- Modal Structure -->
							<div id="modal2" class="modal">
								<div class="modal-content">
									<h4>Type Delivery Address</h4>
									<form autocomplete="off" action="">
										<div class="autocomplete">
											<textarea id="delivery" type="textarea" name="delivery"
													  placeholder="Delivery Address"></textarea>
										</div>
									</form>
								</div>
							</div>
							<div class="col s6" id="info"></div>
							<div class="col s12">
								<table class="highlight">
									<thead style="background-color: #16A2AF;">
										<tr>
											<th>ITEM #</th>
											<th>ITEM CODE</th>
											<th>DESCRIPTION</th>
											<th>SUPPLIER</th>
											<th>OUM</th>
											<th>QTY</th>
											<th>PRICE</th>
											<th>TOTAL AMOUNT</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td>00001</td>
											<td>00001</td>
											<td>Rubber Shoes</td>
											<td>Supplier A</td>
											<td>Piece</td>
											<td>1</td>
											<td>1,500.00</td>
											<td>1,500.00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col s6" id="nf">********** nothing follows **********</div>
							<div class="col s3" id="totalAmoumt">
								<b>
									TOTAL AMOUNT
								</b>
							</div>
							<div class="col s3">
								<hr class="line">
								<p id="vat">
									<b>
										Php 100,000.00<br>
								</p>
								<hr class="line">
								<p id="totalvat">Php 10,000,000.00</b></p>
							</div>
							<div class="col s12" id="note">
								<p id="noteto"><b>Note to Buyer: </b></p>
								<a class="badge red modal-trigger" id="badge" href="#modal3">
									<span>
										add +
									</span>
								</a></p>
							</div>
							<!-- Modal Structure -->
							<div id="modal3" class="modal">
								<div class="modal-content">
									<h4>Note to buyer</h4>
									<form autocomplete="off" action="">
										<div class="noteTobuyer">
											<textarea id="notoTobuyer" type="textarea" name="notoTobuyer"
													  placeholder=""></textarea>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col s8" id="submit">
				<div class="row">
					<div class="col s8">
						<a class="waves-effect waves-light btn amber modal-trigger"
						   href="#modal4">CANCEL</a>
						<!-- Modal Structure -->
						<div id="modal4" class="modal">
							<div class="modal-content">
								<p>Are you sure you want to cancel this request?</p>
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
							</div>
						</div>
					</div>
					<div class="col s4">
					</div>
					<a class="waves-effect waves-light btn right green modal-trigger" href="#modal5">SUBMIT</a>
					<!-- Modal Structure -->
					<div id="modal5" class="modal">
						<div class="modal-content">
							<p>Are you sure you want to approve this request?</p>
						</div>
						<div class="modal-footer">
							<a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
							<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



