@model IList<FinancialSystem.Models.ItemModel>
@Scripts.Render("~/scripts/PR/PR")
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
@foreach (var row in Model) {
	<div class="col s12 m3">
		<div class="card-panel">
			<div class="itemImg">
				<img src="@(ViewData["ItemImagePath"])@(row.image)" alt="" class="responsive-img">
			</div>
			<div class="desc">
				<p>@row.Description</p>
			</div>
			<div class="price">
				<p id="price">&#8369; @row.Price</p>
			</div>
			<div class="button">
@if (row.PriceValidity > DateTime.UtcNow && row.Price != 0) {
				<a onclick="modal(@(row.Id))" data-target="item@(row.Id)"  class="waves-effect waves-light btn-cart modal-trigger">
					Add
					to
					Cart
				</a>
				} else {
	<a onclick=""  class="waves-effect waves-light btn-cart modal-trigger">
		Update
	</a>
}
				<!-- Modal Structure -->
				<div id="item@(row.Id)" class="modal bottom-sheet">
					<div class="modal-content">
						
							<h5>Add Item to cart</h5>
						
						<ul class="collection">
							<li class="collection-item avatar">
								<img src="@(ViewData["ItemImagePath"])@(row.image)" class="circle">
								<span class="title">
									@row.Name
								</span>
								<p> @row.Description </p>
								<p> @row.SKU </p>
								<a href="#!" class="secondary-content">
									<p id="price1">&#8369; @row.Price</p>
								</a>
							</li>
							<li class="">
								<div class="input-field inline">
									<input id="" type="text" class="validate">
									<label for="">Quantity</label>
								</div>
								<a class="modal-action modal-close btn-floating pulse btn-medium waves-light green darken-3
																right" onclick="alert('test')"><i class="material-icons">add</i>Add Item</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}



