@model FinancialSystem.Models.UserModel
@{
    ViewBag.Title = "Purchase Request";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
	
}
   
@Styles.Render("~/Content/PR/pr-shop")
@Scripts.Render("~/scripts/PR/PR")
@Html.Hidden("ApiServer", ViewData["ApiServer"])
@Html.Hidden("ItemImagePath", ViewData["ItemImagePath"])
@Html.Hidden("itemType", ViewData["itemType"])
<div class="col s10 content">
	<div class="container">
		<div class="row">
			<div class="category">
				<div class="row">

                    <div class="search"><input type="text" id="search" placeholder="Search" onkeyup="search(event)"></div>
				</div>
			</div>

			
			<div id="ItemContainer">

			</div>
			
			

			<div class="pagination">
				<ul class="pagination center">
					<li class="disabled">
						<a href="#!"><i class="material-icons">chevron_left</i></a>
					</li>
					<li class="active green darken-2"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect">
						<a href="#!"><i class="material-icons">chevron_right</i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

</div>

