  @using FinancialSystem.Models
@using FinancialSystem.Models.Enums

@{
	ViewBag.Title = "QuoteAnalysis";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@Styles.Render("~/Content/PR/quote-analysis")
@Scripts.Render("~/scripts/PR/QuoteAnalysis")
@{ 
	var categories = (List<CategoryModel>)ViewData["Categories"];
	var suppliers = (List<SupplierModel>)ViewData["supplier"];
	var brands = (List<BrandModel>)ViewData["brand"];
	var employees = (List<EmployeeModel>)ViewData["employees"];
}

<div class="col s12 content">
	<div class="container">
		<div class="col s12 pr-form" id="pr1">
			<div class="row">
				<div class="qa">
					<div class="col s6" id="top">
						<label>QA Number: <span id="QaNumber_"></span></label>
					</div>
					<div class="col s6" id="top">
						<input list="employees_" onchange="Employees('')" name="employees" placeholder="Employees" id="employeesInput_" />
						<datalist id="employees_">
							@foreach (var employee in employees) {
								<option data-value="@employee.Id">@employee.Name()</option>
							}	
						</datalist>
						<input type="hidden" id="employeesInput-hidden_" />
					</div>
						<div class="col s6" id="top">
							<label>Item: </label><input type="text" id="ItemName_"
												 placeholder="Enter Item Name">
						</div>
						<div class="col s6" id="top">
							<div class="searchable categories">
								<select class="js-example-basic-single browser-default" name="state" id="CategorySelect_" onchange="Category('')">
									<option selected="selected">Select Categories</option>
									@foreach (var category in categories) {
										<option value="@category.Id">@category.Name</option>
									}
								</select>
							</div>
						</div>
						<div class="col s6" id="top">
							<div class="searchable">
								<select class="js-example-basic-single browser-default" name="state" id="SubCategory_">
									<option selected="selected">Select SubCategories</option>
									<option value="AL">Alabama</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
					</div>
				<table class="highlight" id="table_">
					<thead>
						<tr>
							<th>SELECT</th>
							<th>SUPPLIER</th>
							<th>DESCRIPTION</th>
							<th>PRICE</th>
							<th>OUM</th>
							<th>QUANTITY</th>
							<th>DISCOUNT</th>
							<th>TOTAL AMOUNT</th>
							<th>AVAILABILITY</th>
							<th>TERMS</th>
							<th>BRAND</th>
							<th>ACTIONS</th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>
			<button class="btn waves-effect waves-light green accent-4 modal-trigger" href="#modal1"
					type="button" name="action">
				Add
				<i class="material-icons right">add</i>
			</button>
			<!-- Modal Structure -->
			<div id="modal1" class="modal">
				<div class="modal-content">
					<h4>Input Suppliers</h4>
					<div class="input-field col s6">
						<input list="supplier_" onchange="supplier('')" name="supplier" placeholder="Supplier" id="supplierInput_" />
						<datalist id="supplier_">
							@foreach (var supplier in suppliers) {
								<option data-value="@supplier.Id">@supplier.Name</option>
							}
						</datalist>
						<input type="hidden" id="supplierInput-hidden_" />
					</div>
					<div class="input-field col s6">
						<input id="desc_" type="text" class="validate">
						<label for="desc_">Description</label>
					</div>
					<div class="input-field col s6">
						<input id="price" type="text" class="validate">
						<label for="price">Price</label>
					</div>
					<div class="input-field col s6">
						<input id="quantity" type="text" class="validate">
						<label for="quantity">Quantity</label>
					</div>
					<div class="input-field col s6">
						<select class="js-example-basic-single" name="state" id="uom">
							<option value="" disabled selected>Unit of Measurement</option>
							@{
								var UOMs = Enum.GetValues(typeof(UOMType));
							}
							@foreach (var UOM in UOMs) {
								<option value="@UOM.ToString()">@UOM.ToString()</option>
							}
						</select>
					</div>
					<div class="input-field col s6">
						<input id="discount" type="text" class="validate">
						<label for="discount">Discount</label>
					</div>
					<div class="input-field col s6">
						<input id="TotalAnount" type="text" class="validate">
						<label for="TotalAnount">Total Amount</label>
					</div>
					<div class="input-field col s6">
						<select class="js-example-basic-single" name="availability" id="availability">
							<option value="" disabled selected>Availability</option>
							@{
								var Availabilities = Enum.GetValues(typeof(AvailabilityType));
							}
							@foreach (var availability in Availabilities) {
								<option value="@availability.ToString()">@availability.ToString()</option>
							}
						</select>
					</div>
					<div class="input-field col s6">
						<div class="searchable">
							<select class="js-example-basic-single" name="terms" id="terms">
								<option value="" disabled selected>Select Terms</option>
							@{
								var terms = Enum.GetValues(typeof(PaymentTermsType));
							}
							@foreach (var term in terms) {
								<option value="@term.ToString()">@term.ToString()</option>
							}
							</select>
						</div>
					</div>
					<div class="input-field col s6">
						<div class="searchable">
							<select class="js-example-basic-single" name="brands" id="brands">
								<option value="" disabled selected>Choose Brand</option>
								@foreach (var brand in brands) {
									<option value="@brand.Id">@brand.Name</option>
								}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="modal-action modal-close btn waves-effect waves-light green accent-4 right"
							onclick="InputDetail('')"
							type="submit" name="action">
						Add
						<i class="material-icons right">add</i>
					</button>
				</div>
			</div>
		</div>
		<div class="input-field col s12" id="remarks">
			<div class="remarks">
				<h5>Analysis Remarks: </h5>
				<textarea id="analysis_"></textarea>
			</div>
		</div>
		<div class="col s12" id="submit">
			<a class="waves-effect waves-light btn right green modal-trigger" href="#modal4"
			   id="submit-button">SUBMIT</a>
			<!-- Modal Structure -->
			<div id="modal4" class="modal">
				<div class="modal-content">
					<p>Are you sure you want submit and create Quote Analysis?</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat"
					   onclick="SaveQA('')">Yes</a>
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
				</div>
			</div>
		</div>
	</div>
</div>


