@model IList<FinancialSystem.Models.POHeaderModel>
@using FinancialSystem.Utilities
@using FinancialSystem.Models.Enums
@foreach (var po in Model) {
	<div class="col s12" id="header-approver">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header" id="po-C1">
					<div class="col s2" id="creation_details">
						@("PO" + po.RequisitionNo)
					</div>
					<div class="col s2" id="creation_details">
						@po.Amount
					</div>
					<div class="col s2" id="creation_details">
						@po.Requestor.Name()
					</div>
					<div class="col s2" id="creation_details">
						@po.Supplier.Name
					</div>
					<div class="col s2" id="creation_details">
						@po.Status
					</div>
				</div>
				<div class="collapsible-body" id="po-C">
					<div class="row">
						<div class="col s6">
							<img src="@Config.GetCompanyLogo(po.Requestor.Company.SmallLogo)" alt="" class="src">
						</div>
						<div class="col s6" id="pr-title">P.O. </div>
						<div class="col s6" id="address">
							@po.Requestor.Company.Address
							<b>TIN: @po.Requestor.Company.Tin</b>
						</div>
						<div class="col s6" id="pr-number">
							Requisition Number: <b><span id="pr-num">@po.RequisitionNo</span></b><br>
							Date Prepared: @po.CreateTime<br>
							Date Needed: @po.RequiredDate<br>
						</div>
						<div id="info0">
							<div class="col s6" id="info"><b>Company:</b> @po.Requestor.Company.CompanyName</div>
							<div class="col s6" id="info">
								<b>Requestor Name:</b> @po.Requestor.Name()
							</div>
							<div class="col s6" id="info"><b>Cost Revenue Center (CRC):</b> @po.CRC.CRCCode</div>
							<div class="col s6" id="info"><b>Company Address:</b></div>

							<div class="col s6" id="info">
								@po.DeliveryAdress
							</div>
							<div class="col s6" id="info"></div>
							<div class="col s12">
								<table class="highlight" id="@("table-" + po.Id)">
									<thead style="background-color: #16A2AF;">
										<tr>
											@*<th>SELECT</th>*@
											<th>ITEM </th>									
											<th>DESCRIPTION</th>
											<th>SUPPLIER</th>
											<th>UOM</th>
											<th>QTY</th>
											<th>PRICE</th>
											<th>TOTAL AMOUNT</th>
										</tr>
									</thead>

									<tbody>
										@foreach (var line in po.Lines) {
											//string itemCode = "";
											//string itemname = "";
											//string supplier = "";
											//if (line.Item != null) {
											//	itemCode = line.Item.Code;
											//	itemname = line.Item.Name;
											//	if (line.Item.Supplier != null) {
											//		supplier = line.Item.Supplier.Name;
											//	}
											//} else {
											//	itemname = line.NonCatalog.Name;
											//	var itm = line.NonCatalog.Lines.FirstOrDefault(x => x.Selected == true);
											//	supplier = itm.Supplier.Name;

											//}
											//var poline = line.POLines.FirstOrDefault(x => x.DeleteTime == null);
											<tr>
												@*<td>
													<label class="check-box">
														@if (poline == null) {
															<input type="checkbox" class="filled-in" id="@line.Id" name="@("itemCheck-" + po.Id)" />
														} else if (poline.Header.Status == StatusType.Saved || poline.Header.Status == StatusType.ForApproval) {
															<input type="checkbox" class="filled-in" id="@line.Id" name="@("itemCheck-" + po.Id)" disabled />
														} else {
															<input type="checkbox" class="filled-in" id="@line.Id" name="@("itemCheck-" + po.Id)" />
														}
														<span></span>
													</label>
												</td>*@
												<td>@line.Name</td>
												
										
												<td>@line.Description</td>
												
												<td>@line.UOM</td>
												<td>@line.Quantity</td>
												<td>@line.UnitPrice</td>
												<td>@(line.Quantity * line.UnitPrice)</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
							<div class="col s6" id="nf">********** nothing follows **********</div>
							<div class="col s3" id="totalAmoumt">
								<b>
									TOTAL AMOUNT
								</b>
							</div>
							<div class="col s3">
								<hr class="line">
								<p id="vat">
									<b>
										Php @po.Amount<br>
									</b>
								</p>
								@*<hr class="line">
									<p id="totalvat"><b>Php 10,000,000.00</b></p>*@
							</div>
							<div class="col s12" id="note">
								<p id="noteto"><b>Note to Buyer: </b></p>
							</div>
							<a class="waves-effect waves-light btn amber right modal-trigger" href="#modalAddPO_@po.Id"
							   id="add-button">ADD to P.O.</a>
							<a class="waves-effect waves-light btn right green modal-trigger"
							   href="#modal_@po.Id">CREATE P.O.</a>
							<!-- Modal Structure -->
							<div id="modal3" class="modal">
								<div class="modal-content">
									<h4>Note to buyer</h4>
									<form autocomplete="off" action="">
										<div class="noteTobuyer">
											<textarea id="noteTobuyer" type="textarea" name="noteTobuyer"
													  placeholder=""></textarea>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<a href="#!"
									   class="modal-close waves-effect waves-green btn-flat">OK</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div class="progress">
			<div class="indeterminate"></div>
		</div>
	</div>

	<div class="col s12" id="submit">
		<!-- Modal Structure Add to P.O. -->
		<div id="modalAddPO_@po.Id" class="modal">
			<div class="modal-content">
				<p>Are you sure you want to Add this P.O?</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat"
				   onclick="">Yes</a>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
			</div>
		</div>

		<!-- Modal Structure Create P.O. -->
		<div id="modal_@po.Id" class="modal">
			<div class="modal-content">
				<p>Are you sure you want to create this P.O?</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat"
				   onclick="CreatePO(@po.Id)">Yes</a>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
			</div>
		</div>
	</div>
}
